html
  include index.pug
    title Check In
    link(rel="stylesheet" href="../css/bootstrap.css")
  body
    div(class="container")
        form(action="/check-in", method="post")
            div(class="form-group")
                label(for="employee") Select employee: 
                select(id="employee", class="form-control", name="shellID")
                    each employee in employees
                        option(value=employee.shellID) #{employee.lastname} #{employee.firstname}
            
            div(class="form-group")
                label(for="availableRoom") Select room: 
                select(id="room", class="form-control" name="roomNumber")
                    each room in rooms
                        option(value=room.roomNumber) Room #{room.roomNumber} - #{room.beds} bedroom, #{room.availableBeds} available

            div(class="form-group")
                label(for="checkInDate") Check In Date:
                input(type="date", class="form-control", id="checkInDate", name="checkInDate", required)


            div(class="form-group")
                label(for="checkOutDate") Check Out Date:
                input(type="date", class="form-control", id="checkOutDate", name="checkOutDate", required)

            button(type="submit" class="btn btn-primary btn-sm") Submit
