html 
    include index.pug

        title Employees 

    body 
        div 
            br
            each employee in employees 
                p Name #{employee.name}
                p Category #{employee.category}
                p Department #{employee.department}
                p Shell ID #{employee.shellID} 
                p Gender #{employee.gender} 
